.container {
    margin: 50px;
}

.pelayanan-title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: 500;
}

.card-pelayanan {
  background-color:rgb(34, 85, 143);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  padding: 20px;
  margin: 20px;
  border-radius: 12px;
  border: 1px solid #ffffff;
  box-shadow: 0 4px 8px rgb(255, 255, 255);
  transition: 0.3s;
}

.card-pelayanan:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0,0,0,0.1);
}

.card-pelayanan h2 {
  font-size: 18px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 300;
  color: #ffffff;
  margin-bottom: 8px;
}